@{
    // o valor NULL para a propriedade Layout, faz com que ele não herde o LAYOUT compartilhado que é GERADO pela ENGINE do RAZOR.
    Layout = null;
}
<!-- Valor lembrar que o RAZOR converterá tudo em HTML, tudo que estiver em C# virará HTML -->
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p> Essa é outra página que pode ser chamada pela MESMA ACTION de um CONTROLLER que possui MAIS DE UMA VIEW</p>
</div>
</body>
</html>